.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ccc;
}

.active {
  background-color: blue; /* 활성화된 단계의 색상 */
}
