@import url('./resources.css');@import url('./reset.css');@import url('./colors.css');




/*************************

        components

**************************/
/* login form */
.login-form { width: 80%; max-width: 500px; margin: 0 auto; border: 1px solid #b7b7b7; display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 20px 50px; } 
.login-form .input-wrap { width: 100%; display: flex; align-items: center; justify-content: space-between; padding: 10px 0; } 
.login-form .input-wrap label { width: 150px; font-size: 17px; } 
.login-form .input-wrap input { width: calc(100% - 150px); margin-right: 0; } 

.login-form .login-btn { width: 100%; background: #4787ff; color: #fff; border-radius: 5px; font-size: 17px; padding: 15px 10px; margin-top: 20px; } 

/*************************
 
          global

**************************/
/* container */
.wrap { width: 100%; min-width: 1200px; height: 100%; position: relative; overflow: auto; } 
#__next{width: 1200px;height: 100%;}

/*************************
 
          layout

**************************/
/* header */
.header { width: 100%; height: 50px; position: absolute; top: 0; left: 0; background: #246cca; padding: 0 15px; display: flex; align-items: center; justify-content: space-between;} 
  .header a { color: #fff; font-weight: 600; font-size: 20px; } 
  
    .header .signin-link{font-weight:400; font-size: 14px; display: flex; align-items: center; justify-content: center; gap: 5px;} 

.rightnav { width: 350px; height: calc(100% - 50px); background: #fff; position: absolute; top: 50px; right: 0; color: #000; box-shadow: 2px 2px 12px 3px rgb(0, 0, 0, 0.2); overflow-x: hidden; overflow-y: auto;} 
  .rightnav ul { width: 100%; height: 100%; padding: 0 0 30px 0;} 
    .rightnav ul li { width: 100%; min-height: 150px; padding: 10px 0 0 0;} 
      .rightnav ul li a { width: 100%; height: 100%; color: #fff; display: flex; align-items: center; justify-content: center; font-size: 17px; } 

.leftnav { width: 55px; height: calc(100% - 50px); background: #fff; position: absolute; top: 50px; left: 0; color: #000; box-shadow: 2px 2px 12px 3px rgb(0, 0, 0, 0.2);} 
.leftnav-open+.leftnav{width: 130px;}
  .leftnav .menu-list { width: 100%; height: 100%; } 
    .leftnav .menu-list li { width: 100%; height: 60px; border-bottom: 1px solid #eee; } 
      .leftnav .menu-list li a { width: 100%; height: 100%; color: #000; display: flex; align-items: center; justify-content: flex-start; font-size: 14px; padding-left: 45px;text-indent: -999999999px; overflow: hidden;} 
      .leftnav-open+.leftnav .menu-list li a{text-indent: 0; overflow: hidden;}

            .leftnav .menu-list li a.page-link{background: url(/imgs/menu_pages_icon.svg) no-repeat left 14px center;}
            .leftnav .menu-list li a.data-link{ background: url(/imgs/menu_datas_icon.svg) no-repeat left 17px center; background-size: 20px; }
            .leftnav .menu-list li a.setting-link{background: url(/imgs/menu_settings_icon.svg) no-repeat left 17px center;}

/*************************
 
           main

**************************/
.main {width: calc(100% - 405px); left: 55px; height: calc(100% - 50px); position: absolute; top: 50px;} 
      .leftnav-open+.leftnav+.rightnav+.main{ width: calc(100% - 480px);  left: 130px;  }
      
.main.intro{padding: 20px;}
      .project-group{width: 100%; padding: 10px 0;}
            .project-group h3{width: 100%; font-size: 22px; position: relative; padding-left: 15px; font-weight: 600; color: #2e2e2e;}
            .project-group h3::before{content: '';display: inline-block; position: absolute; left: 0; top: 10%; width: 5px; height: 80%; background: #2e2e2e; }
            
            .project-group ul{width: 100%; display: flex; align-items: stretch; justify-content: flex-start; gap: 20px; padding: 20px 0; }
                  .project-group ul li{width: 340px; min-height: 160px; border: 1px solid #eee; box-shadow:  1px 1px 5px 2px #b7b7b733; border-radius: 10px;}
                  .project-group ul li:hover{box-shadow:  1px 1px 15px 3px #27272733;}
                        .project-group ul li a{display: flex; width: 100%; height: 100%; align-items: center; justify-content: center;}

                        .project-group ul li a .panel-header{padding-left: 20px;}
                        
                        .project-group ul li a .panel-container{padding: 10px 15px;}
                        .project-group ul li a .panel-container dl{display: flex; width: 100%;align-items: center; justify-content: flex-start; padding: 5px 0;}
                              .project-group ul li a .panel-container dl dt{width: 50%; font-size: 17px; color: #000;}
                              .project-group ul li a .panel-container dl dd{width: 50%; font-size: 17px; color: #333;}

/* panel */
.panel{width: 100%; height: 100%;}
      .panel-header{width: 100%; font-weight: 600; font-size: 22px;padding: 15px; border-bottom: 1px solid #eee;}
      .panel-container{width: 100%;padding: 20px 15px;}



/*************************
 
      1. menu : page

**************************/
.pageWrap {display: flex; align-items: center; justify-content: center; flex-wrap: wrap; overflow: auto; gap: 30px; padding: 100px 0;} 
  
      .pageWrap .device { width: 414px; max-height: 896px; height: 80%; border: 1px solid #b7b7b7; border-radius: 18px; box-shadow: 5px 5px 5px rgb(200, 200, 200, 0.5);  position: relative;} 
      .pageWrap .device.active {border: 2px solid #000;}
      
            .pageWrap .device .app{overflow: hidden;border-radius: 15px;} 
            .pageWrap .device .page-del-btn{position: absolute; left: -10px; top: -10px; z-index: 10;} 

/**************************
 
      2. menu : data

***************************/
.data { display: flex; align-items: center; justify-content: center; position: relative; padding: 20px;} 
      .data .add-table-btn{position: absolute; top: 20px; left: 20px;}
/**************************
 
      3. menu : setting

***************************/
.settings { display: flex; align-items: center; justify-content: center; } 

/**************************
 
      4. menu : function

***************************/
.function { display: flex; align-items: center; justify-content: center; } 

